# GITHUB VARIABLES
GITHUB_READ_USER_TOKEN_PERSONAL=
# Admin password VARIABLES
NEXT_PUBLIC_ADMIN_PASSWORD=

# SUPABASE VARIABLES
NEXT_PUBLIC_SUPABASE_URL=https://[YOUR_PROJECT_ID].supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGci...

SUPABASE_SERVICE_ROLE_KEY=eyJhbGci...

# GOOGLE AI (GEMINI) VARIABLES
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSy...
